<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input #title="ngModel" [(ngModel)]="this.value.title" type="text" class="form-control" id="title" name="title"
        placeholder="Title" required maxlength="200">
    <validation-error [field]="title">
    </validation-error>
</div>

<div class="mb-3">
    <label for="note" class="form-label">Body</label>
    <textarea name="body" class="form-control" placeholder="Body" [(ngModel)]="this.value.body"
        maxlength="4000"></textarea>
</div>